#NavBar--Base {
    position: fixed;
    background-color: #3c3c3c;
    display: flex;
    z-index: 1;
    width: 100%;
    padding: 0;
}

#NavBar--LeftSide {
    width: 85%;
}

#NavBar--RightSide {
    width: 15%;
    min-width: 85px;
}

#NavBar--Logo {
    float: left;
    padding: 0 20px;
}

#NavBar--Menu {
    background-color: #3c3c3c;
}

#NavBar--Login {
    float: right;
    margin-right: 20px;
    color: gray;
    pointer-events: none;
}
